**
!/.eslintrc.*
!/.gitattributes
!/.gitignore
!/.nvmrc
!/.pnp.*
!/.prettierrc.json
!/.prettierignore
!/.vscode
!/.vscode/**
!/.yarn
!/.yarn/cache
!/.yarn/cache/**
!/.yarn/patches
!/.yarn/patches/**
!/.yarn/plugins
!/.yarn/plugins/**
!/.yarn/releases
!/.yarn/releases/**
!/.yarn/sdks
!/.yarn/sdks/**
!/.yarn/versions
!/.yarn/versions/**
!/.yarnrc.yml
!/package.json
!/src
!/src/**
!/tsconfig.json
!/yarn.lock
